@using formProject.Models.ViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeViewModel
<h1>Add New Employee</h1>
<form id="form">
    <div >
        <label> Employee Name:</label><br />
        <input asp-for="@Model.EmpName"
         type="text"
         data-val="true"
         id="EmpName"
         /><br />
        <span 
        asp-validation-for="EmpName"
        class="text-danger"></span>
    </div>
    <div>
        <div>
            <div class="input-field">
                <label class="label-name">Employee City</label><br />
                <input asp-for="@Model.EmpCity"
                id="EmpCity"
                data-val="true"
                />
                <br />
                <span
                 asp-validation-for="EmpCity" 
                 class="text-danger"></span>

            </div>
        </div>
    </div>

    <div>
        <label> Employment Status:</label>
        <br />
        <select asp-for="@Model.EmpStatus" 
                id="EmpStatus">
            @foreach (var employee in Model.EmpStatusOptions)
            {
                <option value="@employee.Value">@employee.Text</option>
            }

        </select>
    </div>
    <br />
    <button id="btnSave">Save </button>
@*    <input id="btnSave"  type="button" value="Save"/>
*@

    
    

 </form>
@section Scripts{
    <script type="text/javascript" src="~/js/site.js"></script>

}
