@using formProject.Models.ViewModel;
@model EmployeeReportViewModel
<h1>Update Employee</h1>
<form id="form" asp-controller="Employee" asp-action="UpdateEmployeePost" method="post">
    <div>
        <input type="hidden" asp-for="@Model.EmpId" />
    </div>
    <div>
        <label> Employee Name:</label><br />
        <input id="EmpName"
               asp-for="@Model.EmpName"
               type="text"
               data-val="true" /><br />
        <span asp-validation-for="EmpName"
              class="text-danger"></span>
    </div>
    <div>
        <div>
            <div class="input-field">
                <label class="label-name">Employee City</label><br />
                <input id="EmpCity"
                       asp-for="@Model.EmpCity"
                       data-val="true" />
                <br />
                <span asp-validation-for="EmpCity"
                      class="text-danger"></span>

            </div>
        </div>
    </div>
 
    @*Sonar Cube*@
    <div>
        <label> Employment Status:</label>
        <br />
        <select id="EmpStatus"
                asp-for="@Model.EmpStatus">
            @foreach (var employee in Model.SelectEmpStatus)
            {
                <option value="@employee.Value">@employee.Text</option>
            }

        </select>
    </div>
    <br />

    <input id="btnUpdate" type="button" value="Save" />
    <button id="Submit-btn" type="submit">
        Submit
    </button>




</form>

@section Scripts{
    <script type="text/javascript" src="~/js/UpdateEmp.js"></script>

}


